In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('adult.data.csv')

In [3]:
#1.How many people of each race are represented in this dataset?
# This should be a Pandas series with race names as the index labels. (race column)
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [4]:
#2.What is the average age of men? 
df.age[df['sex']=='Male'].mean()

39.43354749885268

In [5]:
#3.What is the percentage of people who have a Bachelor's degree?
bachelor=df.education[df['education']=='Bachelors'].count()
total_education=df['education'].count()
percentage=(bachelor/total_education)*100
print("{:.2f} %".format(percentage))

16.45 %

In [6]:
#4.What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
degree=df.salary[((df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate')) & (df['salary']=='>50K')].count()
total_education=df['education'].count()
percentage=(degree/total_education)*100
print("{:.2f} %".format(percentage))

10.71 %

In [7]:
df[((df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate')) & (df['salary']=='>50K')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [8]:
#5.What percentage of people without advanced education make more than 50K? 
degree=df.salary[((df['education']!='Bachelors') & (df['education']!='Masters') & (df['education']!='Doctorate')) & (df['salary']=='>50K')].count()
total_education=df['education'].count()
percentage=(degree/total_education)*100
print("{:.2f} %".format(percentage))

13.37 %

In [9]:
#6.What is the minimum number of hours a person works per week? 
df['hours-per-week'].min()

1

In [10]:
#7.What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
min_work=df.salary[(df['hours-per-week']==df['hours-per-week'].min()) & (df['salary']=='>50K')].count()
total_education=df['education'].count()
percentage=(min_work/total_education)*100
print("{:.2f} %".format(percentage))

0.01 %

In [11]:
#8.What country has the highest percentage of people that earn >50K and what is that percentage?
cnt=df['native-country'][df['salary']=='>50K'].count()
(df['native-country'][df['salary']=='>50K'].value_counts()/cnt)*100

United-States         91.455172
?                      1.862007
Philippines            0.777962
Germany                0.561153
India                  0.510139
Canada                 0.497386
Mexico                 0.420865
England                0.382604
Italy                  0.318837
Cuba                   0.318837
Japan                  0.306083
Taiwan                 0.255070
China                  0.255070
Iran                   0.229563
South                  0.204056
Puerto-Rico            0.153042
Poland                 0.153042
France                 0.153042
Jamaica                0.127535
El-Salvador            0.114781
Greece                 0.102028
Cambodia               0.089274
Hong                   0.076521
Yugoslavia             0.076521
Ireland                0.063767
Vietnam                0.063767
Portugal               0.051014
Haiti                  0.051014
Ecuador                0.051014
Thailand               0.038260
Hungary                0.038260
Guatemala              0.038260
Scotland               0.038260
Nicaragua              0.025507
Trinadad&Tobago        0.025507
Laos                   0.025507
Columbia               0.025507
Dominican-Republic     0.025507
Peru                   0.025507
Honduras               0.012753
Name: native-country, dtype: float64

In [12]:
#Identify the most popular occupation for those who earn >50K in India.
df.occupation[(df['native-country']=='India') &(df['salary']=='>50K')].value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64